[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/shanmmukha1589
[access "refs/for/refs/*"]
	read = group user/shanmmukha1589
	push = group user/shanmmukha1589
	label-Code-Review = -2..+2 group user/shanmmukha1589
	label-Verified = -1..+1 group user/shanmmukha1589
	rebase = group user/shanmmukha1589
	removeReviewer = group user/shanmmukha1589
	submit = group user/shanmmukha1589
[access "refs/heads/*"]
	read = group user/shanmmukha1589
	create = group user/shanmmukha1589
	push = +force group user/shanmmukha1589
	pushMerge = group user/shanmmukha1589
[access "refs/tags/*"]
	push = +force group user/shanmmukha1589
	pushTag = group user/shanmmukha1589
	pushSignedTag = group user/shanmmukha1589
